<!doctype html>
{% extends 'govde.html' %}
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block baslik%}
        Atlas GYM - PT -- [> GİRİŞ YAP <]
    {% endblock baslik %}</title>

</head>

<body>
{% block govde_slider %}

<div  class="row">
    <div class="col-md-12">



      <form method="POST" action="{% url 'kullanicilar:giris' %}">{% csrf_token %}

  <div class="form-group row">
    <div class="col-sm-5 mx-auto">
        <h3>Giriş Yap</h3>
      <hr color="#007BFF">
      <input name="kullanici_adi" type="text" class="form-control" id="inputkullanici" placeholder="Kullanıcı adı">
    </div>
  </div>

  <div class="form-group row">

    <div class="col-sm-5 mx-auto">
      <input name="sifre" type="password" class="form-control" id="inputPassword" placeholder="Şifre">
    </div>
  </div>



  <div class="form-group row">
    <div class="col-sm-5 mx-auto">
      <button type="submit" class="btn btn-primary form-control">Giriş Yap</button>
        <hr color="#007BFF">
    </div>
  </div>


      <div class="form-group row">
    <div class="col-sm-5 mx-auto">
      {% if messages %}

        {% for message in messages %}
            {% if message.tags == "info" %}
                <div class="alert alert-danger">{{ message }}</div>
            {% else %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endif %}
        {% endfor %}
        {% endif %}
    </div>
  </div>
</form>











</div>
</div>
{% endblock govde_slider %}

</body>
</html>